<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.health_spike_wear_os">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND"/>
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>

    <!-- Flags the app as a Wear app -->
    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Flags that the app doesn't require a companion phone app -->
    <application>
    <meta-data
        android:name="com.google.android.wearable.standalone"
        android:value="true" />
    </application>

</manifest>
